useDynLib(db, .registration = TRUE)

importFrom(methods, is)
importFrom(methods, new)

export(db.close)
export(db.create_module)
export(db.delete_module)
export(db.eval)
export(db.exists)
export(db.fields)
export(db.get)
export(db.function)
export(db.help)
export(db.httpd)
export(db.lapply)
export(db.open)
export(db.register)
export(db.register_shadowname)
export(db.reply)
export(db.reply_file)
export(db.reply_header)
export(db.reply_status)
export(db.reply_type)
export(db.schema)
export(db.sqlar)
export(db.sqlar.skeleton)
export(db.sqlar.update)
export(db.subst)
export(db.tables)
export(db.unregister)
export(db.unregister_shadowname)
export(db.unsqlar)
export(db.urlpath)
export(db.virtualtable)

export(SQLITE_INDEX_CONSTRAINT_EQ)
export(SQLITE_INDEX_CONSTRAINT_GT)
export(SQLITE_INDEX_CONSTRAINT_LE)
export(SQLITE_INDEX_CONSTRAINT_LT)
export(SQLITE_INDEX_CONSTRAINT_GE)
export(SQLITE_INDEX_CONSTRAINT_MATCH)
export(SQLITE_INDEX_CONSTRAINT_LIKE)
export(SQLITE_INDEX_CONSTRAINT_GLOB)
export(SQLITE_INDEX_CONSTRAINT_REGEXP)
export(SQLITE_INDEX_CONSTRAINT_NE)
export(SQLITE_INDEX_CONSTRAINT_ISNOT)
export(SQLITE_INDEX_CONSTRAINT_ISNOTNULL)
export(SQLITE_INDEX_CONSTRAINT_ISNULL)
export(SQLITE_INDEX_CONSTRAINT_IS)
export(SQLITE_INDEX_CONSTRAINT_FUNCTION)
export(SQLITE_INDEX_SCAN_UNIQUE)
